[Bb]in/
[Oo]bj/
*.swp
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
.idea/
*.log
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.userosscache
*.lock.json
*.pfx
*.publishsettings
node_modules/
dist/
frontend/node_modules/
frontend/dist/
/out/
/app/bin/
/app/obj/
**/bin/
**/obj/
ef_output.txt
build_output.log
